body {
  background-color: rgb(128, 215, 207);
  color: #fff1e6;
  font-size: 1rem;
}

section {
  display: grid;
  justify-items: center;
  grid-template-rows: 140px 450px 1fr;
}

h1 {
  color: #516b7b;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #414b52;
}

button {
  font-size: inherit;
  font-weight: 700;
  background-color: #fff1e6;
  color: #516b7b;
  border: 1px solid #516b7b;
  border-radius: 30px;
  padding: 1em 5em;
  margin-top: 1em;
  align-self: center;
  text-decoration: none;
  cursor: pointer;
}

.content-container a {
  color: #fff1e6;
  text-decoration: none;
}

label {
  font-size: 0.9rem;
  margin: 1em auto;
  width: 100%;
  overflow: hidden;
}

input,
textarea {
  background-color: initial;
  border: none;
  border-bottom: 1px solid #516b7b;
  padding: 1em 2em;
  width: -webkit-fill-available;
}

input::placeholder,
textarea::placeholder {
  font: inherit;
  font-weight: 700;
  font-size: 1rem;
  color: #fff1e6;
}

.contact {
  margin: 1em 0;
}

.content-container h2, .content-container a { 
  font-weight: 700;
  font-size: 1.2rem;
}

.content-container p {
  font-size: 1rem;
  font-weight: 400;
}

.form-container,
.content-container {
  width: 85%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container .logo {
  position: fixed;
  width: 15vh;
  height: 10vh;
  top: 20px;
  left: 10px;
  z-index: 10;
}

/* Media Queries */
@media (min-width: 375px) {
  section {
    grid-template-rows: 140px 390px 1fr;;
  }
}

@media (min-width: 425px) {
  section {
    grid-template-rows: 140px 315px 1fr;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }

  section {
    grid-template-rows: 140px 340px 1fr;
  }

  button {
    align-self: flex-start;
  }

  .content-container, .form-container {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  section {
    grid-template-rows: 140px 400px 1fr;
    justify-items: center;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
  }

  .content-container {
    font-size: 1.6rem;
  }

  .form-container p {
    font-size: 1.5rem;
  }

  .content-container, .form-container {
    width: 65%;
  }
}
